body {
  margin: 0;
  font-family: arial,sans-serif;
  font-size: 14px;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  a {
    text-decoration: none;
    color: #bbb;
    display: block;
  }
  .active,
  a:hover {
    color: #ffffff;
  }
}

.navigation-container {
  border: solid #333;
  background-color: #333;
}

.search-container {
  background-color: #f4f4f4;
  border: solid #f4f4f4;
  padding: 20px 0 20px 10px;
}

.main-container {
  width: 500px;
  margin-left: 150px;
}

.search-result-list {
  list-style: none;
  padding: 0;
}

.search-result {
  margin-bottom: 30px;
}

.search-result-title {
  margin: 0;
}

.search-result-source {
  display: block;
  font-style: normal;
  color: #009933;
}
